<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">UPLOAD</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/originals">Originals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/memes">Memes</a>
  </li>
</ul>